<%- include('./includes/studentHeader') %>
    <div class="iq-navbar-header" style="height: 215px;">
        <div class="container-fluid iq-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flex-wrap d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
        <div class="iq-header-img">
            <img src="../../assets/images/dashboard/top-header.png" alt="header"
                class="theme-color-default-img img-fluid w-100 h-100 animated-scaleX">
            <img src="../../assets/images/dashboard/top-header1.png" alt="header"
                class="theme-color-purple-img img-fluid w-100 h-100 animated-scaleX">
            <img src="../../assets/images/dashboard/top-header2.png" alt="header"
                class="theme-color-blue-img img-fluid w-100 h-100 animated-scaleX">
            <img src="../../assets/images/dashboard/top-header3.png" alt="header"
                class="theme-color-green-img img-fluid w-100 h-100 animated-scaleX">
            <img src="../../assets/images/dashboard/top-header4.png" alt="header"
                class="theme-color-yellow-img img-fluid w-100 h-100 animated-scaleX">
            <img src="../../assets/images/dashboard/top-header5.png" alt="header"
                class="theme-color-pink-img img-fluid w-100 h-100 animated-scaleX">
        </div>
    </div> <!-- Nav Header Component End -->
    <!--Nav End-->
    <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <ul class="d-flex nav nav-pills mb-0 text-center profile-tab" data-toggle="slider-tab"
                                id="profile-pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-bs-toggle="tab" href="#all" role="tab"
                                        aria-selected="false">All Applications</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#accepted" role="tab"
                                        aria-selected="false">Accepted</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#rejected" role="tab"
                                        aria-selected="false">Rejected</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#pending" role="tab"
                                        aria-selected="false">Pending</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
       
             
                
                
<div class="profile-content tab-content">
    <!-- All Applications Tab -->
    <div id="all" class="tab-pane fade active show">
        <div class="card">
          <table  id="datatable" class="table table-striped" data-toggle="data-table">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Position</th>
                        <th>Stipend</th>
                        <th>Location</th>
                 
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <%  internshipApplications.forEach(application => { %>
                    <tr>
                        <td><%= application.company %></td>
                        <td><%= application.position %></td>
                        <td><%= application.stipend %></td>
                        <td><%= application.location %></td>
               
                        <td>
                            <% if (application.status === 'accepted') { %>
                                <span class="badge bg-success"><%= application.status %></span>
                            <% } else if (application.status === 'rejected') { %>
                                <span class="badge bg-danger"><%= application.status %></span>
                            <% } else if (application.status === 'pending') { %>
                                <span class="badge bg-warning"><%= application.status %></span>
                            <% } else { %>
                                <span class="badge bg-secondary"><%= application.status %></span>
                            <% } %>
                    
               
                   <% } )%>

                </tbody>
            </table>
        </div>
    </div>

    <!-- Accepted Tab -->
    <div id="accepted" class="tab-pane fade">
        <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Position</th>
                        <th>Stipend</th>
                        <th>Location</th>
                      
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% internshipApplications.forEach(application => { %>
                    <% if (application.status === 'accepted') { %>
                    <tr>
                        <td><%= application.company %></td>
                        <td><%= application.position %></td>
                        <td><%= application.stipend %></td>
                        <td><%= application.location %></td>
                  
                        <td><span class="badge bg-success"><%= application.status %></span></td>
                    </tr>
                    <% } %>
                    <% }) %>    
                </tbody>
            </table>
        </div>
    </div>

    <!-- Rejected Tab -->
    <div id="rejected" class="tab-pane fade">
        <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Position</th>
                        <th>Stipend</th>
                        <th>Location</th>
                     
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% internshipApplications.forEach(application => { %>
                    <% if (application.status === 'rejected') { %>
                    <tr>
                        <td><%= application.company %></td>
                        <td><%= application.position %></td>
                        <td><%= application.stipend %></td>
                        <td><%= application.location %></td>
                  
                        <td><span class="badge bg-danger"><%= application.status %></span></td>
                    </tr>
                    <% } %>
                    <% }) %>
               
                </tbody>
            </table>
        </div>
    </div>

    <!-- Pending Tab -->
    <div id="pending" class="tab-pane fade">
        <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Position</th>
                        <th>Stipend</th>
                        <th>Location</th>
                      
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% internshipApplications.forEach(application => { %>
                    <% if (application.status === 'pending') { %>
                    <tr>
                        <td><%= application.company %></td>
                        <td><%= application.position %></td>
                        <td><%= application.stipend %></td>
                        <td><%= application.location %></td>
                  
                        <td><span class="badge bg-warning"><%= application.status %></span></td>
                    </tr>
                    <% } %>
                    <% }) %>
               
                </tbody>
            </table>
        </div>
    </div>
</div>


                
               
            </div>
        </div>
    </div>
    <script>
        //select all feature
        // document.getElementById("selectAll").addEventListener("change", function () {
        //     const checkboxes = document.querySelectorAll(".select-row");
        //     const isChecked = this.checked;

        //     checkboxes.forEach(checkbox => {
        //         checkbox.checked = isChecked;
        //         checkbox.parentElement.parentElement.classList.toggle("bg-success", isChecked);
        //     });
        // });

    </script>
<%- include('./includes/studentFooter') %>