<%- include('../includes/adminHeader') %>
   <div class="iq-navbar-header" style="height: 215px;">
      <div class="container-fluid iq-container">
         <div class="row">
            <div class="col-md-12">
               <div class="flex-wrap d-flex justify-content-between align-items-center">
               </div>
            </div>
         </div>
      </div>
      <div class="iq-header-img">
         <img src="../../assets/images/dashboard/top-header.png" alt="header"
            class="theme-color-default-img img-fluid w-100 h-100 animated-scaleX">
         <img src="../../assets/images/dashboard/top-header1.png" alt="header"
            class="theme-color-purple-img img-fluid w-100 h-100 animated-scaleX">
         <img src="../../assets/images/dashboard/top-header2.png" alt="header"
            class="theme-color-blue-img img-fluid w-100 h-100 animated-scaleX">
         <img src="../../assets/images/dashboard/top-header3.png" alt="header"
            class="theme-color-green-img img-fluid w-100 h-100 animated-scaleX">
         <img src="../../assets/images/dashboard/top-header4.png" alt="header"
            class="theme-color-yellow-img img-fluid w-100 h-100 animated-scaleX">
         <img src="../../assets/images/dashboard/top-header5.png" alt="header"
            class="theme-color-pink-img img-fluid w-100 h-100 animated-scaleX">
      </div>
   </div> <!-- Nav Header Component End -->
   <!--Nav End-->
   </div>
   <div class="conatiner-fluid content-inner mt-n5 py-0">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <div class="d-flex flex-wrap align-items-center justify-content-between">
                     <div class="d-flex flex-wrap align-items-center">
                        <div class="profile-img position-relative me-3 mb-3 mb-lg-0 profile-logo profile-logo1">
                           <img src="<%= internshipDoc.companyLogo %>" alt="User-Profile"
                              class="theme-color-default-img img-fluid rounded-pill avatar-100">
                        </div>
                        <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                           <h4 class="me-2 h4">
                              <%= internshipDoc.companyName %>
                           </h4>
                           <span> - <%= internshipDoc.jobTitle %></span>
                        </div>
                     </div>
                     <ul class="d-flex nav nav-pills mb-0 text-center profile-tab" data-toggle="slider-tab"
                        id="profile-pills-tab" role="tablist">
                        <li class="nav-item">
                           <a class="nav-link active show" data-bs-toggle="tab" href="#profile-feed" role="tab"
                              aria-selected="false">Applied Students</a>
                        </li>
                        <!-- <li class="nav-item">
                           <a class="nav-link" data-bs-toggle="tab" href="#profile-activity" role="tab"
                              aria-selected="false">Activity</a>
                        </li> -->
                        <!-- <li class="nav-item">
                           <a class="nav-link" data-bs-toggle="tab" href="#profile-friends" role="tab"
                              aria-selected="false">Friends</a>
                        </li> -->
                        <!-- <li class="nav-item">
                           <a class="nav-link" data-bs-toggle="tab" href="#profile-profile" role="tab"
                              aria-selected="false">Profile</a>
                        </li> -->
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-12">
            <div class="profile-content tab-content">
               <div id="profile-feed" class="tab-pane fade active show">
                  <div class="card">
                     <table id="datatable" class="table table-striped" data-toggle="data-table">

                        <thead>
                           <tr>
                              <th><input type="checkbox" id="selectAll"></th> <!-- For selecting all rows -->
                              <th>Name</th>
                              <th>SAP ID</th>
                              <th>Email</th>
                              <th>Contact</th>
                              <th>Passing Year</th>
                              <th>Application Proof</th>
                              <th>Action</th>
                           </tr>
                        </thead>
                        <tbody>
<% studentsApplied.forEach((as)=>{ %> 
<!-- as stands fro applied student -->

   <tr>
      <td><input type="checkbox" class="select-row" data-mongoId="<%= as.studentData._id %>" data-sapid="<%= as.studentData.sapId %>"></td>
      <td><img class="rounded img-fluid avatar-40 me-3 bg-primary-subtle" src="<%= as.studentData.profileImageLink %>" alt="profile"><%= as.studentData.name%> <%= as.studentData.lName%></td>
      <td><%= as.studentData.sapId %></td>
      <td><%= as.studentData.email %></td>
      <td><%= as.studentData.contactNumber %> </td>
      <td> <%= as.studentData.graduationYear %> </td>
      <td><a href="<%= as.screenshotLink %>" target="_blank">View Screenshot</a></td>
      <td><button class="btn btn-primary">View Profile</button></td>
   </tr>

<% }) %>
                        

                        </tbody>
                     </table>

                     <div class="d-flex justify-content-center gap-3 mb-4">
                        <button id="bulkActionBtn" class="btn btn-danger btn-lg">
                           <i class="bi bi-lightning-charge me-2"></i>Perform Bulk Action
                        </button>
                     </div>

                     <div class="text-center mb-4">
                        <button onclick="exportTableToCSV('table-data.csv')" class="btn btn-success btn-lg">
                            <i class="bi bi-download me-2"></i>Export as CSV
                        </button>
                    </div>
                  </div>

                  <form id="csvUploadForm" class="bg-light p-4 rounded">
                     <div class="mb-3">
                         <label for="csvFile" class="form-label">Upload CSV</label>
                         <div class="input-group">
                             <input type="file" class="form-control" id="csvFile" accept=".csv" />
                             <button type="button" id="processCsvBtn" class="btn btn-primary">
                                 <i class="bi bi-gear me-2"></i>Process CSV
                             </button>
                         </div>
                     </div>
                 </form>
               </div>
               <!-- <div id="profile-activity" class="tab-pane fade">
                  <div class="card">
                     <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                           <h4 class="card-title">Activity</h4>
                        </div>
                     </div>
                     <div class="card-body">
                        <div
                           class="iq-timeline0 m-0 d-flex align-items-center justify-content-between position-relative">
                           <ul class="list-inline p-0 m-0">
                              <li>
                                 <div class="timeline-dots timeline-dot1 border-primary text-primary"></div>
                                 <h6 class="float-left mb-1">Client Login</h6>
                                 <small class="float-right mt-1">24 November 2019</small>
                                 <div class="d-inline-block w-100">
                                    <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                                 </div>
                              </li>
                              <li>
                                 <div class="timeline-dots timeline-dot1 border-success text-success"></div>
                                 <h6 class="float-left mb-1">Scheduled Maintenance</h6>
                                 <small class="float-right mt-1">23 November 2019</small>
                                 <div class="d-inline-block w-100">
                                    <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                                 </div>
                              </li>
                              <li>
                                 <div class="timeline-dots timeline-dot1 border-danger text-danger"></div>
                                 <h6 class="float-left mb-1">Dev Meetup</h6>
                                 <small class="float-right mt-1">20 November 2019</small>
                                 <div class="d-inline-block w-100">
                                    <p>Bonbon macaroon jelly beans <a href="#">gummi bears</a>gummi bears jelly lollipop
                                       apple</p>
                                    <div class="iq-media-group iq-media-group-1">
                                       <a href="#" class="iq-media-1">
                                          <div class="icon iq-icon-box-3 rounded-pill">SP</div>
                                       </a>
                                       <a href="#" class="iq-media-1">
                                          <div class="icon iq-icon-box-3 rounded-pill">PP</div>
                                       </a>
                                       <a href="#" class="iq-media-1">
                                          <div class="icon iq-icon-box-3 rounded-pill">MM</div>
                                       </a>
                                    </div>
                                 </div>
                              </li>
                              <li>
                                 <div class="timeline-dots timeline-dot1 border-primary text-primary"></div>
                                 <h6 class="float-left mb-1">Client Call</h6>
                                 <small class="float-right mt-1">19 November 2019</small>
                                 <div class="d-inline-block w-100">
                                    <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                                 </div>
                              </li>
                              <li>
                                 <div class="timeline-dots timeline-dot1 border-warning text-warning"></div>
                                 <h6 class="float-left mb-1">Mega event</h6>
                                 <small class="float-right mt-1">15 November 2019</small>
                                 <div class="d-inline-block w-100">
                                    <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div> -->
               <!-- <div id="profile-friends" class="tab-pane fade">
                  <div class="card">
                     <div class="card-header">
                        <div class="header-title">
                           <h4 class="card-title">Friends</h4>
                        </div>
                     </div>
                     <div class="card-body">
                        <ul class="list-inline m-0 p-0">
                           <li class="d-flex mb-4 align-items-center">
                              <img src="../../assets/images/avatars/01.png" alt="story-img"
                                 class="rounded-pill avatar-40">
                              <div class="ms-3 flex-grow-1">
                                 <h6>Paul Molive</h6>
                                 <p class="mb-0">Web Designer</p>
                              </div>
                              <div class="dropdown">
                                 <span class="dropdown-toggle" id="dropdownMenuButton9" data-bs-toggle="dropdown"
                                    aria-expanded="false" role="button">
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton9">
                                    <a class="dropdown-item " href="javascript:void(0);">Unfollow</a>
                                    <a class="dropdown-item " href="javascript:void(0);">Unfriend</a>
                                    <a class="dropdown-item " href="javascript:void(0);">block</a>
                                 </div>
                              </div>
                           </li>
                           <li class="d-flex mb-4 align-items-center">
                              <img src="../../assets/images/avatars/05.png" alt="story-img"
                                 class="rounded-pill avatar-40">
                              <div class="ms-3 flex-grow-1">
                                 <h6>Paul Molive</h6>
                                 <p class="mb-0">trainee</p>
                              </div>
                              <div class="dropdown">
                                 <span class="dropdown-toggle" id="dropdownMenuButton10" data-bs-toggle="dropdown"
                                    aria-expanded="false" role="button">
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton10">
                                    <a class="dropdown-item " href="javascript:void(0);">Unfollow</a>
                                    <a class="dropdown-item " href="javascript:void(0);">Unfriend</a>
                                    <a class="dropdown-item " href="javascript:void(0);">block</a>
                                 </div>
                              </div>
                           </li>
                           <li class="d-flex mb-4 align-items-center">
                              <img src="../../assets/images/avatars/02.png" alt="story-img"
                                 class="rounded-pill avatar-40">
                              <div class="ms-3 flex-grow-1">
                                 <h6>Anna Mull</h6>
                                 <p class="mb-0">Web Developer</p>
                              </div>
                              <div class="dropdown">
                                 <span class="dropdown-toggle" id="dropdownMenuButton11" data-bs-toggle="dropdown"
                                    aria-expanded="false" role="button">
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton11">
                                    <a class="dropdown-item " href="javascript:void(0);">Unfollow</a>
                                    <a class="dropdown-item " href="javascript:void(0);">Unfriend</a>
                                    <a class="dropdown-item " href="javascript:void(0);">block</a>
                                 </div>
                              </div>
                           </li>
                           <li class="d-flex mb-4 align-items-center">
                              <img src="../../assets/images/avatars/03.png" alt="story-img"
                                 class="rounded-pill avatar-40">
                              <div class="ms-3 flex-grow-1">
                                 <h6>Paige Turner</h6>
                                 <p class="mb-0">trainee</p>
                              </div>
                              <div class="dropdown">
                                 <span class="dropdown-toggle" id="dropdownMenuButton12" data-bs-toggle="dropdown"
                                    aria-expanded="false" role="button">
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton12">
                                    <a class="dropdown-item " href="javascript:void(0);">Unfollow</a>
                                    <a class="dropdown-item " href="javascript:void(0);">Unfriend</a>
                                    <a class="dropdown-item " href="javascript:void(0);">block</a>
                                 </div>
                              </div>
                           </li>
                           <li class="d-flex mb-4 align-items-center">
                              <img src="../../assets/images/avatars/04.png" alt="story-img"
                                 class="rounded-pill avatar-40">
                              <div class="ms-3 flex-grow-1">
                                 <h6>Barb Ackue</h6>
                                 <p class="mb-0">Web Designer</p>
                              </div>
                              <div class="dropdown">
                                 <span class="dropdown-toggle" id="dropdownMenuButton13" data-bs-toggle="dropdown"
                                    aria-expanded="false" role="button">
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton13">
                                    <a class="dropdown-item " href="javascript:void(0);">Unfollow</a>
                                    <a class="dropdown-item " href="javascript:void(0);">Unfriend</a>
                                    <a class="dropdown-item " href="javascript:void(0);">block</a>
                                 </div>
                              </div>
                           </li>
                           <li class="d-flex mb-4 align-items-center">
                              <img src="../../assets/images/avatars/05.png" alt="story-img"
                                 class="rounded-pill avatar-40">
                              <div class="ms-3 flex-grow-1">
                                 <h6>Greta Life</h6>
                                 <p class="mb-0">Tester</p>
                              </div>
                              <div class="dropdown">
                                 <span class="dropdown-toggle" id="dropdownMenuButton14" data-bs-toggle="dropdown"
                                    aria-expanded="false" role="button">
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton14">
                                    <a class="dropdown-item " href="javascript:void(0);">Unfollow</a>
                                    <a class="dropdown-item " href="javascript:void(0);">Unfriend</a>
                                    <a class="dropdown-item " href="javascript:void(0);">block</a>
                                 </div>
                              </div>
                           </li>
                           <li class="d-flex mb-4 align-items-center">
                              <img src="../../assets/images/avatars/03.png" alt="story-img"
                                 class="rounded-pill avatar-40">
                              <div class="ms-3 flex-grow-1">
                                 <h6>Ira Membrit</h6>
                                 <p class="mb-0">Android Developer</p>
                              </div>
                              <div class="dropdown">
                                 <span class="dropdown-toggle" id="dropdownMenuButton15" data-bs-toggle="dropdown"
                                    aria-expanded="false" role="button">
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton15">
                                    <a class="dropdown-item " href="javascript:void(0);">Unfollow</a>
                                    <a class="dropdown-item " href="javascript:void(0);">Unfriend</a>
                                    <a class="dropdown-item " href="javascript:void(0);">block</a>
                                 </div>
                              </div>
                           </li>
                           <li class="d-flex mb-4 align-items-center">
                              <img src="../../assets/images/avatars/02.png" alt="story-img"
                                 class="rounded-pill avatar-40">
                              <div class="ms-3 flex-grow-1">
                                 <h6>Pete Sariya</h6>
                                 <p class="mb-0">Web Designer</p>
                              </div>
                              <div class="dropdown">
                                 <span class="dropdown-toggle" id="dropdownMenuButton16" data-bs-toggle="dropdown"
                                    aria-expanded="false" role="button">
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton16">
                                    <a class="dropdown-item " href="javascript:void(0);">Unfollow</a>
                                    <a class="dropdown-item " href="javascript:void(0);">Unfriend</a>
                                    <a class="dropdown-item " href="javascript:void(0);">block</a>
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div> -->
               <!-- <div id="profile-profile" class="tab-pane fade">
                  <div class="card">
                     <div class="card-header">
                        <div class="header-title">
                           <h4 class="card-title">Profile</h4>
                        </div>
                     </div>
                     <div class="card-body">
                        <div class="text-center">
                           <div class="user-profile">
                              <img src="../../assets/images/avatars/01.png" alt="profile-img"
                                 class="rounded-pill avatar-130 img-fluid">
                           </div>
                           <div class="mt-3">
                              <h3 class="d-inline-block">Austin Robertson</h3>
                              <p class="d-inline-block pl-3"> - Web developer</p>
                              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header">
                        <div class="header-title">
                           <h4 class="card-title">About User</h4>
                        </div>
                     </div>
                     <div class="card-body">
                        <div class="user-bio">
                           <p>Tart I love sugar plum I love oat cake. Sweet roll caramels I love jujubes. Topping cake
                              wafer.</p>
                        </div>
                        <div class="mt-2">
                           <h6 class="mb-1">Joined:</h6>
                           <p>Feb 15, 2021</p>
                        </div>
                        <div class="mt-2">
                           <h6 class="mb-1">Lives:</h6>
                           <p>United States of America</p>
                        </div>
                        <div class="mt-2">
                           <h6 class="mb-1">Email:</h6>
                           <p><a href="#" class="text-body"> austin@gmail.com</a></p>
                        </div>
                        <div class="mt-2">
                           <h6 class="mb-1">Url:</h6>
                           <p><a href="#" class="text-body" target="_blank"> www.bootstrap.com </a></p>
                        </div>
                        <div class="mt-2">
                           <h6 class="mb-1">Contact:</h6>
                           <p><a href="#" class="text-body">(001) 4544 565 456</a></p>
                        </div>
                     </div>
                  </div>
               </div> -->
            </div>
         </div>
      </div>
      <div class="offcanvas offcanvas-bottom share-offcanvas" tabindex="-1" id="share-btn"
         aria-labelledby="shareBottomLabel">
         <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="shareBottomLabel">Share</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
         </div>
         <div class="offcanvas-body small">
            <div class="d-flex flex-wrap align-items-center">
               <div class="text-center me-3 mb-3">
                  <img src="../../assets/images/brands/08.png" class="img-fluid rounded mb-2" alt="">
                  <h6>Facebook</h6>
               </div>
               <div class="text-center me-3 mb-3">
                  <img src="../../assets/images/brands/09.png" class="img-fluid rounded mb-2" alt="">
                  <h6>Twitter</h6>
               </div>
               <div class="text-center me-3 mb-3">
                  <img src="../../assets/images/brands/10.png" class="img-fluid rounded mb-2" alt="">
                  <h6>Instagram</h6>
               </div>
               <div class="text-center me-3 mb-3">
                  <img src="../../assets/images/brands/11.png" class="img-fluid rounded mb-2" alt="">
                  <h6>Google Plus</h6>
               </div>
               <div class="text-center me-3 mb-3">
                  <img src="../../assets/images/brands/13.png" class="img-fluid rounded mb-2" alt="">
                  <h6>In</h6>
               </div>
               <div class="text-center me-3 mb-3">
                  <img src="../../assets/images/brands/12.png" class="img-fluid rounded mb-2" alt="">
                  <h6>YouTube</h6>
               </div>
            </div>
         </div>
      </div>
   </div>
   <script>

      //export to csv
      function exportTableToCSV(filename) {
         // Select the table
         const table = document.getElementById('datatable');
         const rows = table.querySelectorAll('tr');
         let csvContent = "";

         // Loop through the rows to extract data
         rows.forEach((row) => {
            const cols = row.querySelectorAll('th, td');
            const rowData = [];
            cols.forEach((col) => {
               let cellData = col.innerText.trim(); // Get text and trim whitespace
               if (cellData.includes(',')) {
                  cellData = `"${cellData}"`; // Escape commas for CSV
               }
               rowData.push(cellData);
            });
            csvContent += rowData.join(",") + "\n"; // Add row to CSV content
         });

         // Create a Blob for the CSV content
         const blob = new Blob([csvContent], { type: "text/csv" });

         // Create a link to download the Blob as a file
         const link = document.createElement("a");
         link.href = URL.createObjectURL(blob);
         link.download = filename;
         link.click();
      }

      //Select names using CSV file and sapid

      console.log(Papa); // If loaded correctly, this will print the Papa Parse object


      document.getElementById("processCsvBtn").addEventListener("click", function () {
         const fileInput = document.getElementById("csvFile");
         if (fileInput.files.length === 0) {
            alert("Please upload a CSV file.");
            return;
         }

         const file = fileInput.files[0];
         Papa.parse(file, {
            header: true, // Assume the CSV has headers
            skipEmptyLines: true,
            complete: function (results) {
               const sapIds = results.data.map(row => row.SAPID); // Extract SAP IDs from CSV
               const checkboxes = document.querySelectorAll(".select-row");

               checkboxes.forEach(checkbox => {
                  const sapId = checkbox.getAttribute("data-sapid");
                  if (sapIds.includes(sapId)) {
                     checkbox.checked = true;
                     checkbox.parentElement.parentElement.classList.add("bg-success"); // Highlight row
                  }
               });
            }
         });
      });

      //select all feature
      document.getElementById("selectAll").addEventListener("change", function () {
         const checkboxes = document.querySelectorAll(".select-row");
         const isChecked = this.checked;

         checkboxes.forEach(checkbox => {
            checkbox.checked = isChecked;
            checkbox.parentElement.parentElement.classList.toggle("bg-success", isChecked);
         });
      });

      //Perform bulk actions: Hit our server
      document.getElementById("bulkActionBtn").addEventListener("click", function () {
         const selectedIds = [];
         const checkboxes = document.querySelectorAll(".select-row:checked");

         checkboxes.forEach(checkbox => {
            // selectedIds.push(checkbox.getAttribute("data-sapid"));
            selectedIds.push(checkbox.getAttribute("data-mongoId"));
         });

         console.log("Selected Mongo IDs:", selectedIds);

         if (selectedIds.length === 0) {
            alert("No students selected.");
            return;
         }

         // Send selected IDs to the server for bulk processing
 
         fetch(`/bulk-action-select/${internshipId}`, {
            method: "POST",
            headers: {
               "Content-Type": "application/json"
            },
            body: JSON.stringify({ _ids: selectedIds })
         })
            .then(response => response.json())
            .then(data => {
               alert(data.message);
            })
            .catch(error => {
               console.error("Error performing bulk action:", error);
            });
      });


  const path = window.location.pathname;
  const segments = path.split('/');
  const internshipId = segments[segments.length - 1];
  console.log("Internship ID:", internshipId);



   </script>

   <%- include('../includes/studentFooter') %>